*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#111;
    color:#fff;
}

header{
    background:#ff6600;
    padding:18px;
    text-align:center;
    font-size:28px;
    font-weight:bold;
}

nav{
    background:#222;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

.banner img{
    width:100%;
    display:block;
}

.container{
    width:90%;
    margin:auto;
    padding:20px 0;
}

.card{
    background:#1c1c1c;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    background:#ff6600;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#e65c00;
}

footer{
    background:#000;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
